{% extends 'base.html' %}
<!--render a form with boostrap automatic template-->

{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{request.endpoint}}</li>
    </ol>
</nav>

    <h1>{{_('Log In')}}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form)}}
        </div>
    </div>
    <p>
        {{_('new User?')}}
        <a href="{{url_for('auth.registration')}}">{{_('Register')}}</a>
    </p>
    <p>
        {{_('forgot password? ')}}
        <a href="{{url_for('auth.reset_password_request')}}">{{_('click here to reset password')}}</a>
    </p>
{% endblock %}
