{% extends 'base.html' %}
<!--render a form with boostrap automatic template-->

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{request.endpoint}}</li>
    </ol>
</nav>
    <h1>{{_('Registration')}}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form)}}
        </div>
    </div>
    <p>
       {{_('already a User?')}}
        <a href="{{url_for('auth.login')}}">{{_('Sign In')}}</a>
    </p>
{% endblock %}
