{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{url_for('user', username=current_user.username)}}">{{ current_user.username }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{request.endpoint}}</li>
    </ol>
</nav>

<h1>Edit Profile</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.about_me.label }}<br>
        {{ form.about_me(cols=50, rows=4) }}<br>
        {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}