{% extends 'base.html' %}

{% block content %}
<!-- current_user.username is the username of the current logged user -->
<h1> the secret project only {{ current_user.username }} can see</h1>
{% if form %}
<form action="", method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.post.label }} <br>
        {{ form.post(cols = 32, rows = 4) }} <br>
        {% for error in form.post.errors %} <br>
        <span style= "color : red"> {{ error }}</span>
        {% endfor %}
        </p>
        <p>{{ form.submit() }}</p> 
</form>
{% endif %}
{% for post in posts %}
<div style="border-style:solid; border-width: 2px; padding: 5px;margin-bottom: 3px; ">
    <p><img src="{{ post.author.avatar(64) }}" alt=""> {{ post.author.username }}</p>
    <p> {{ post.body }}</p>
    {% if current_user == post.author and form_del %}
    <form action="{{url_for('delete_post', del_post_id = post.id)}}", method ='post'>
        {{ form_del.hidden_tag() }}
        {{ form_del.submit(value = 'Delete post') }}
    </form>
    {% endif %}

</div>
{% endfor %}
{% endblock content %}