{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block app_content %}
<!-- current_user.username is the username of the current logged user -->
<h1> the secret project only {{ current_user.username }} can see</h1>
{% if form %}
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form)}}
    </div>
</div>
{% endif %}
<!-----------sub template to show posts---------->
{% for post in posts %}
    {% include '_post.html' %}
{% endfor %}

<!-----------pagination navigation----------->
{% if prev_url %}
<a href="{{ prev_url }}">Newer posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older posts</a>
{% endif %}

{% endblock %}

