{% extends 'base.html' %}

{% block content %}

<h1>change password</h1>
<form action="", method="post">
    <p>
        {{ form.hidden_tag() }}
        {{ form.password.label }} <br>
        {{ form.password(size = 64) }} 
            {% for error in form.password.errors %}
            <span style= "color : red"> {{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hidden_tag() }}
            {{ form.password2.label }} <br>
            {{ form.password2(size = 64) }} 
                {% for error in form.password2.errors %}
                <span style= "color : red"> {{ error }}</span>
                {% endfor %}
            </p>

        <p>
            {{ form.submit() }} 
        </p>
</form>


{% endblock content %}